:root,
:host {
  --background: oklch(0.2308 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2686 0 0);
  --card-hover: oklch(0.285 0 0);
  --card-active: oklch(0.3052 0 0);
  --card-border: none;
  --accent: oklch(0.8643 0.1762 90.7);
  --accent-foreground: oklch(0.2308 0 0);
  --accent-hover: oklch(0.8317 0.1695 90.98);
  --accent-active: oklch(0.326 0.0659 92.96);
  --secondary: oklch(0.3132 0 0);
  --secondary-foreground: oklch(1 0 0);
  --secondary-border: oklch(0.3942 0 0);
  --secondary-hover: oklch(0.3523 0 0);
  --secondary-active: oklch(0.3942 0 0);
  --secondary-active-border: oklch(0.4891 0 0);
  --muted: oklch(0.3332 0 0);
  --muted-foreground: oklch(0.754 0 0);
  --contrast: oklch(0.2308 0 0);
  --highlight: oklch(0.5689 0.1504 255.23);

  --border: oklch(0.3446 0 0);
  --outilne: oklch(0.5689 0.1504 255.23);
  --outilne-style: solid;
  --outilne-offset: -0.063rem;
  --outilne-width: 0.125rem;
  --input-border: oklch(0.4239 0 0);
  --input-border-hover: inherit;
  --input-background: oklch(0.2603 0 0);
  --input-background-hover: oklch(0.3052 0 0);
  --input-background-active: oklch(0.2603 0 0);
  --button-border: oklch(0.3942 0 0);
  --button-shadow: none;
  --track-background: oklch(0.3715 0 0);
  --track-background-hover: oklch(0.4091 0 0);
  --track-handle-background: oklch(1 0 0);
  --track-handle-foreground: oklch(0.2308 0 0);

  --disabled-opacity: 0.5;
  --inactive-background: oklch(0.3092 0 0);
  --inactive-border: oklch(0.5382 0 0);

  --negative: oklch(0.5817 0.1642 26.07);
  --negative-foreground: oklch(1 0 0);
  --negative-hover: oklch(0.6174 0.1471 24.81);
  --negative-active: oklch(0.5361 0.1494 25.92);
  --positive: oklch(0.601 0.1305 156.37);
  --positive-foreground: oklch(1 0 0);
  --positive-hover: oklch(0.6314 0.141 155.9);
  --positive-active: oklch(0.5556 0.1148 158.24);
  --warning: oklch(0.5756 0.1444 49.88);
  --warning-foreground: oklch(1 0 0);
  --warning-hover: oklch(0.6149 0.133 53.4);
  --warning-active: oklch(0.5329 0.1324 50.22);
  --information: oklch(0.5689 0.1504 255.23);
  --information-foreground: oklch(1 0 0);
  --information-hover: oklch(0.6106 0.1348 254.41);
  --information-active: oklch(0.5275 0.1389 255.3);

  --shellbar-background: oklch(0.2603 0 0);
  --shellbar-foreground: oklch(1 0 0);
  --shellbar-shadow: inset 0 -0.0625rem 0 0 var(--border);
  --shellbar-interactive-background: oklch(0.2308 0 0);
  --shellbar-interactive-foreground: oklch(1 0 0);
  --shellbar-interactive-placeholder: var(--muted-foreground);
  --shellbar-interactive-hover: oklch(0.2393 0 0);
  --shellbar-interactive-active: oklch(0.2308 0 0);
  --shellbar-interactive-border: oklch(0.4239 0 0);

  --sidebar: oklch(0.2308 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-active: oklch(0.267 0.0536 94.78);
  --sidebar-active-hover: oklch(0.326 0.0659 92.96);
  --sidebar-active-foreground: var(--sidebar-foreground);
  --sidebar-hover: oklch(0.3132 0 0);
  --sidebar-border: oklch(0.36 0 0);
  --sidebar-shadow: var(--shadow-sm);

  --object-header: oklch(0.2603 0 0);
  --object-header-foreground: oklch(1 0 0);
  --object-header-border: oklch(0.5727 0 0);
  --object-header-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.2), inset 0 -0.0625rem 0 0 var(--border);
  --object-foreground: var(--foreground);
  --object-background: oklch(0.2686 0 0);
  --object-background-alt: oklch(0.2308 0 0);
  --object-background-hover: oklch(0.3052 0 0);
  --object-background-active: oklch(0.267 0.0536 94.78);

  --table-header: oklch(0.2308 0 0);
  --table-header-foreground: oklch(1 0 0);

  --content-background: oklch(0.2308 0 0);

  --scrollbar: transparent;
  --scrollbar-thumb: oklch(0.754 0 0);
  --scrollbar-thumb-hover: oklch(0.804 0 0);

  --link: oklch(0.7998 0.1629 90.86);
  --link-hover: oklch(0.7998 0.1629 90.86);
  --link-visited: oklch(0.7084 0.1443 90.68);
  --link-subtle: oklch(0.6772 0.1379 91.15);
  --link-inverted: oklch(0.8643 0.1762 90.7);

  --font-sans: "72", "72full", Arial, Helvetica, sans-serif;
  --font-sans-bold: "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica, sans-serif;
  --font-sans-semibold: "72-Semibold", "72-Semiboldfull", "72", "72full", Arial, Helvetica, sans-serif;
  --font-mono: "72Mono", "72Monofull", lucida console, monospace;
  --font-mono-bold: "72Mono-Bold", "72Mono-Boldfull", lucida console, monospace;
  --font-size: 0.875rem;

  --shadow-xs: 0 0 0 0.0625rem rgb(57, 57, 57), 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.3);
  --shadow-sm: 0 0 0 0.0625rem rgb(57, 57, 57), 0 0 0.188rem 0 rgba(0, 0, 0, 0.4), 0 0.188rem 0.375rem 0 rgba(0, 0, 0, 0.35);
  --shadow-md: 0 0 0 0.0625rem rgb(57, 57, 57), 0 0 0.375rem 0 rgba(0, 0, 0, 0.4), 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.35);
  --shadow-lg: 0 0 0 0.0625rem rgb(57, 57, 57), 0 0 0.875rem 0 rgba(0, 0, 0, 0.45), 0 0.375rem 0.875rem 0 rgba(0, 0, 0, 0.45);

  --radius-control: 0.5rem;
  --radius: 0.75rem;
}
