:root,
:host {
  --background: oklch(0.9761 0 0);
  --foreground: oklch(0.3306 0.009 248.1);
  --card: oklch(1 0 0);
  --card-hover: oklch(0.9702 0 0);
  --card-active: oklch(0.9702 0 0);
  --card-border: none;
  --accent: oklch(0.5441 0.1731 254.75);
  --accent-foreground: oklch(1 0 0);
  --accent-hover: oklch(0.6045 0.1509 251.67);
  --accent-active: oklch(0.9259 0.0273 244.69);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.4494 0.1401 254.46);
  --secondary-border: oklch(0.4494 0.1401 254.46);
  --secondary-hover: oklch(0.9653 0.0161 245.08);
  --secondary-active: oklch(0.9144 0.0146 244.73);
  --secondary-active-border: oklch(0.4494 0.1401 254.46);
  --muted: oklch(0.8452 0 0);
  --muted-foreground: oklch(0.5331 0.006 247.94);
  --contrast: oklch(1 0 0);
  --highlight: oklch(0.4494 0.1401 254.46);

  --border: oklch(0.8853 0 0);
  --outilne: oklch(0 0 0);
  --outilne-style: dotted;
  --outilne-offset: -0.125rem;
  --outilne-width: 0.063rem;
  --input-border: oklch(0.653 0.0163 251.23);
  --input-border-hover: oklch(0.4494 0.1401 254.46);
  --input-background: oklch(1 0 0);
  --input-background-hover: oklch(0.98 0 0);
  --input-background-active: oklch(1 0 0);
  --button-border: oklch(0.4494 0.1401 254.46);
  --button-shadow: none;
  --track-background: var(--muted);
  --track-background-hover: oklch(0.7826 0 0);
  --track-handle-background: oklch(1 0 0);
  --track-handle-foreground: oklch(0.3306 0.009 248.1);

  --disabled-opacity: 0.5;
  --inactive-background: oklch(0.9791 0 0);
  --inactive-border: oklch(0.653 0.0163 251.23);

  --negative: oklch(0.4974 0.2041 29.23);
  --negative-foreground: oklch(1 0 0);
  --negative-hover: oklch(0.5541 0.187 25.78);
  --negative-active: oklch(0.4411 0.181 29.23);
  --positive: oklch(0.521 0.1346 151.05);
  --positive-foreground: oklch(1 0 0);
  --positive-hover: oklch(0.6122 0.1154 155.28);
  --positive-active: oklch(0.4642 0.118 151.39);
  --warning: oklch(0.6599 0.1673 51.69);
  --warning-foreground: oklch(1 0 0);
  --warning-hover: oklch(0.7039 0.1502 57.07);
  --warning-active: oklch(0.6113 0.1542 51.84);
  --information: oklch(0.5441 0.1731 254.75);
  --information-foreground: oklch(1 0 0);
  --information-hover: oklch(0.4977 0.1575 254.72);
  --information-active: oklch(0.4494 0.1401 254.46);

  --shellbar-background: oklch(0.4007 0.0443 248.98);
  --shellbar-foreground: oklch(1 0 0);
  --shellbar-shadow: inset 0 -0.0625rem 0 0 var(--shellbar-background);
  --shellbar-interactive-background: oklch(0.3339 0.0354 248.93);
  --shellbar-interactive-foreground: oklch(0.9212 0.0398 248.26);
  --shellbar-interactive-placeholder: oklch(0.6888 0.0149 248.04);
  --shellbar-interactive-hover: oklch(0.3339 0.0354 248.93);
  --shellbar-interactive-active: oklch(0.3038 0.031 250.72);
  --shellbar-interactive-border: oklch(0.5126 0.0412 249.89);

  --sidebar: oklch(0.9612 0 0);
  --sidebar-foreground: oklch(0.3306 0.009 248.1);
  --sidebar-active: oklch(0.9174 0.0052 247.88);
  --sidebar-active-hover: oklch(0.8895 0.007 247.9);
  --sidebar-active-foreground: oklch(0.4494 0.1401 254.46);
  --sidebar-hover: oklch(0.9249 0 0);
  --sidebar-border: transparent;
  --sidebar-shadow: var(--shadow-sm);

  --object-header: oklch(1 0 0);
  --object-header-foreground: oklch(0.3306 0.009 248.1);
  --object-header-border: oklch(0.8853 0 0);
  --object-header-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.05), inset 0 -0.0625rem 0 0 var(--border);
  --object-foreground: var(--foreground);
  --object-background: oklch(1 0 0);
  --object-background-alt: oklch(0.9612 0 0);
  --object-background-hover: oklch(0.9461 0 0);
  --object-background-active: oklch(0.9498 0.0179 245.39);

  --table-header: oklch(0.9612 0 0);
  --table-header-foreground: var(--foreground);

  --content-background: oklch(1 0 0);

  --scrollbar: transparent;
  --scrollbar-thumb: oklch(0.3306 0.009 248.1);
  --scrollbar-thumb-hover: oklch(0.4092 0 0);

  --link: oklch(0.5441 0.1731 254.75);
  --link-hover: oklch(0.4494 0.1401 254.46);
  --link-visited: oklch(0.5441 0.1731 254.75);
  --link-subtle: oklch(0.403 0.1223 253.87);
  --link-inverted: oklch(0.9212 0.0398 248.26);

  --font-sans: "72", "72full", Arial, Helvetica, sans-serif;
  --font-sans-bold: "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica, sans-serif;
  --font-sans-semibold: "72-Semibold", "72-Semiboldfull", "72", "72full", Arial, Helvetica, sans-serif;
  --font-mono: "72Mono", "72Monofull", lucida console, monospace;
  --font-mono-bold: "72Mono-Bold", "72Mono-Boldfull", lucida console, monospace;
  --font-size: 0.875rem;

  --shadow-xs: 0 0 0 0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  --shadow-sm: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3);
  --shadow-md: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3);
  --shadow-lg: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 1.25rem 5rem 0 rgba(0, 0, 0, 0.3);

  --radius-control: 0.25rem;
  --radius: 0.25rem;
}
