:root,
:host {
  --background: oklch(0.9761 0 0);
  --foreground: oklch(0.284 0.0695 269.17);
  --card: oklch(1 0 0);
  --card-hover: oklch(0.9581 0 0);
  --card-active: oklch(0.93 0 0);
  --card-border: oklch(0.9 0 0);
  --accent: oklch(0.5107 0.2177 270.31);
  --accent-foreground: oklch(1 0 0);
  --accent-hover: oklch(0.4823 0.178484 257.9914);
  --accent-active: oklch(0.9004 0.0399 279.34);
  --secondary: oklch(0.967 0.0029 264.54);
  --secondary-foreground: oklch(0.284 0.0695 269.17);
  --secondary-border: oklch(0.8572 0.0059 264.53);
  --secondary-hover: oklch(0.967 0.0029 264.54);
  --secondary-active: oklch(1 0 0);
  --secondary-active-border: oklch(0.754 0 0);
  --muted: oklch(0.8452 0 0);
  --muted-foreground: oklch(0.5254 0.021 272.06);
  --contrast: oklch(1 0 0);
  --highlight: oklch(0.5107 0.2177 270.31);

  --border: oklch(0.9124 0.0058 264.53);
  --outilne: oklch(0.6249 0.1595 255.02);
  --outilne-style: solid;
  --outilne-offset: -0.063rem;
  --outilne-width: 0.125rem;
  --input-border: oklch(0.8572 0.0059 264.53);
  --input-border-hover: inherit;
  --input-background: oklch(0.9933 0.0011 197.14);
  --input-background-hover: oklch(1 0 0);
  --input-background-active: oklch(1 0 0);
  --button-border: oklch(0.8572 0.0059 264.53);
  --button-shadow: none;
  --track-background: oklch(0.8699 0 0);
  --track-background-hover: oklch(0.8266 0 0);
  --track-handle-background: oklch(1 0 0);
  --track-handle-foreground: oklch(0.284 0.0695 269.17);

  --disabled-opacity: 0.5;
  --inactive-background: oklch(0.9933 0.0011 197.14);
  --inactive-border: oklch(0.7917 0.0061 264.53);

  --negative: oklch(0.6238 0.2277 26.96);
  --negative-foreground: oklch(1 0 0);
  --negative-hover: oklch(0.5539 0.2004 26.82);
  --negative-active: oklch(0.5059 0.1819 26.72);
  --positive: oklch(0.6324 0.1067 190.77);
  --positive-foreground: oklch(1 0 0);
  --positive-hover: oklch(0.5502 0.0949 189.13);
  --positive-active: oklch(0.5017 0.086 190.53);
  --warning: oklch(0.6977 0.1736 45.53);
  --warning-foreground: oklch(1 0 0);
  --warning-hover: oklch(0.632 0.1854 42.13);
  --warning-active: oklch(0.566 0.1383 45.69);
  --information: oklch(0.5107 0.2177 270.31);
  --information-foreground: oklch(1 0 0);
  --information-hover: oklch(0.4295 0.1929 265.6);
  --information-active: oklch(0.4172 0.1724 270.68);

  --shellbar-background: oklch(1 0 0);
  --shellbar-foreground: oklch(0.284 0.0695 269.17);
  --shellbar-shadow: inset 0 -0.0625rem 0 0 oklch(0.8853 0 0);
  --shellbar-interactive-background: oklch(0.96 0 0);
  --shellbar-interactive-foreground: oklch(0.284 0.0695 269.17);
  --shellbar-interactive-placeholder: var(--muted-foreground);
  --shellbar-interactive-hover: oklch(0.98 0 0);
  --shellbar-interactive-active: oklch(1 0 0);
  --shellbar-interactive-border: oklch(0.9006 0 0);

  --sidebar: oklch(0.967 0.0029 264.54);
  --sidebar-foreground: oklch(0.284 0.0695 269.17);
  --sidebar-active: oklch(0.9259 0.0286 279.35);
  --sidebar-active-hover: oklch(0.9004 0.0399 279.34);
  --sidebar-active-foreground: var(--sidebar-foreground);
  --sidebar-hover: oklch(0.9217 0.0029 264.54);
  --sidebar-border: transparent;
  --sidebar-shadow: var(--shadow-sm);

  --object-header: oklch(1 0 0);
  --object-header-foreground: oklch(0.284 0.0695 269.17);
  --object-header-border: oklch(0.9124 0.0058 264.53);
  --object-header-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.05), inset 0 -0.0625rem 0 0 var(--border);
  --object-foreground: var(--foreground);
  --object-background: oklch(1 0 0);
  --object-background-alt: oklch(0.967 0.0029 264.54);
  --object-background-hover: oklch(0.967 0.0029 264.54);
  --object-background-active: oklch(0.9259 0.0286 279.35);

  --table-header: oklch(0.9846 0.0017 247.84);
  --table-header-foreground: oklch(0.284 0.0695 269.17);

  --content-background: oklch(1 0 0);

  --scrollbar: transparent;
  --scrollbar-thumb: oklch(0.284 0.0695 269.17);
  --scrollbar-thumb-hover: oklch(0.4092 0 0);

  --link: oklch(0.5107 0.2177 270.31);
  --link-hover: oklch(0.5332 0.2073 271.38);
  --link-visited: oklch(0.4742 0.2004 270.43);
  --link-subtle: oklch(0.4742 0.2004 270.43);
  --link-inverted: oklch(0.5774 0.1857 273.22);

  --font-sans: "72", "72full", Arial, Helvetica, sans-serif;
  --font-sans-bold: "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica, sans-serif;
  --font-sans-semibold: "72-Semibold", "72-Semiboldfull", "72", "72full", Arial, Helvetica, sans-serif;
  --font-mono: "72Mono", "72Monofull", lucida console, monospace;
  --font-mono-bold: "72Mono-Bold", "72Mono-Boldfull", lucida console, monospace;
  --font-size: 0.875rem;

  --shadow-xs: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  --shadow-sm: 0 0 0.188rem 0 rgba(0, 0, 0, 0.15), 0 0.188rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0 0.375rem 0 rgba(0, 0, 0, 0.15), 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 0 0.875rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 0.875rem 0 rgba(0, 0, 0, 0.2);

  --radius-control: 1.125rem;
  --radius: 0.875rem;
}
