@import url("https://cdn.jsdelivr.net/npm/@highlightjs/cdn-assets@11.10.0/styles/github-dark.min.css") only screen and (prefers-color-scheme: light);
@import url("https://cdn.jsdelivr.net/npm/@highlightjs/cdn-assets@11.10.0/styles/github-dark-dimmed.min.css") only screen and (prefers-color-scheme: dark);
