@font-face {
    font-family: "72";
    src: url("https://www.unpkg.com/@sap-theming/theming-base-content@11.18.2/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "72-Semibold";
    src: url("https://www.unpkg.com/@sap-theming/theming-base-content@11.18.2/content/Base/baseLib/baseTheme/fonts/72-Semibold-full.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "72-Bold";
    src: url("https://www.unpkg.com/@sap-theming/theming-base-content@11.18.2/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "72-Light";
    src: url("https://www.unpkg.com/@sap-theming/theming-base-content@11.18.2/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "72Mono-Regular";
    src: url("https://www.unpkg.com/@sap-theming/theming-base-content@11.18.2/content/Base/baseLib/baseTheme/fonts/72Mono-Regular-full.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "72Mono-Bold";
    src: url("https://www.unpkg.com/@sap-theming/theming-base-content@11.18.2/content/Base/baseLib/baseTheme/fonts/72Mono-Bold-full.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "SAP-icons";
    src: url("https://www.unpkg.com/@sap-theming/theming-base-content@11.18.2/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BusinessSuiteInAppSymbols";
    src: url("https://www.unpkg.com/@sap-theming/theming-base-content@11.18.2/content/Base/baseLib/sap_horizon/fonts/BusinessSuiteInAppSymbols.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SAP-icons-TNT";
    src: url("https://www.unpkg.com/@sap-theming/theming-base-content@11.18.2/content/Base/baseLib/sap_horizon/fonts/SAP-icons-TNT.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

div.doc-main-container {
    height: calc(100% - var(--fdShellbar_Height));
    background-color: var(--sapGroup_ContentBackground, #fff);
}

code.hljs {
    margin-top: 1rem;
    padding: 1rem !important;
    display: block;
    border-radius: var(--sapElement_BorderCornerRadius);
}

code-block+code-block {
    margin-top: 1rem;
}

code-block>code-block {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
}

code-block>pre {
    margin-bottom: 0;
    margin-top: 1rem;
}

code-block[type=text-html]>pre:only-child,
code-block[type=css]>pre:only-child,
code-block[type=js]>pre:only-child {
    margin: 0;
}

code-block[type=text-html]>pre:only-child>code.hljs,
code-block[type=css]>pre:only-child>code.hljs,
code-block[type=js]>pre:only-child>code.hljs {
    margin: 0;
}

code-block {
    font-family: var(--sapContent_MonospaceFontFamily);
    display: block;
    border-radius: var(--sapElement_BorderCornerRadius);
    background-color: var(--sapBackgroundColor, #f7f7f7);
    padding: 1rem;
}

code-block>.fd-link {
    display: block;
    width: 100%;
}

div.doc-icon-container {
    border-radius: var(--sapElement_BorderCornerRadius);
    background-color: var(--sapBackgroundColor, #f7f7f7);
    padding: 2rem;
}

div.doc-icon-container span.sap-icon {
    font-size: 3rem;
}